services:
  postgres:
    image: 'postgres:latest'
    environment:
      - TZ=Asia/Kolkata
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432'
